.article-header-img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.article-header-bg {
    position: relative;
}

.article-header-bg::before {
    content: '';
    position: absolute;
    top: 0; 
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}

.article-header {
    position: relative;
    height: 345px;
    width: 100%;
    display: inline-block;

    color: #fff;
}

a.favorite{
    color: #ee6e73;
}
a.favorite:hover{
    color: #7f8c8d;
}

nav .input-field label {
    top: -10px;
}

#films{
    display: none;
}

.dropdown-button{
    width: 4%;
    float: right;
    text-align: right;
    padding-right: 16px;
    background-color: rgba(255,255,255,.1);
}